
@{
    ViewData["Title"] = "Thanks";
}


    <header>
        <h1 class="p-md-4 bg-secondary col-md-9"> Thank you for feeling like a scorpio and adding your quote! </h1>
    </header>
    <div >
        <p class="p-sm-4 thanktext text-center col-md-7">
            Go back <a asp-action="Index">
    Home
</a>to continue exploring the awesomeness of scorpios
           
        </p> 
   
    </div>

